@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Raleway:ital,wght@1,100&display=swap");
.profile {
  color: #f4f8ff;
  cursor: pointer;
}
.navlink {
  font-family: "Cardo";
  font-size: 20px;
  color: rgba(27, 55, 100, 1);
}
