@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Raleway:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Inter&family=Raleway:ital,wght@1,100&display=swap");

.title {
  font-family: "Cardo";
  font-size: 36px;
  color: #f4f8ff;
}
.dialogTitle {
  font-family: "Cardo";
  font-size: 24px;
  color: rgba(27, 55, 100, 1);
  text-align: center;
}
.dialogContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 2px solid rgba(27, 55, 100, 1);
  border-radius: 10px;
}
.input {
  height: 30px;
  padding: 0 5px;
}
.button {
  color: rgba(27, 55, 100, 1);
  font-family: "Inter";
  font-size: 18px;
  padding: 5px;
  border-radius: 10px;
  &:active {
    color: #ffca42;
    border: 1px solid rgba(255, 202, 66, 1);
  }
  &:hover {
    color: #ffca42;
    border: 1px solid rgba(255, 202, 66, 1);
  }
}
.dialogContentText {
  font-family: "Cardo";
  font-size: 20px;

  color: rgba(27, 55, 100, 1);
  &:hover {
    color: #ffca42;
  }
}
